{
  "extends": [ "eslint:recommended" ],
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2021
	},
	"rules": {
		"array-bracket-spacing":"error",
		"arrow-body-style":"error",
		"arrow-parens":"error",
		"arrow-spacing":"error",
		"block-spacing":"error",
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"capitalized-comments":"error",
		"comma-spacing": "error",
		"comma-style": "error",
		"consistent-return": "error",
		"curly": ["error", "all"],
		"default-case": "error",
		"default-case-last": "error",
		"dot-location": ["error", "property"],
		"eol-last":"error",
		"eqeqeq":"error",
		"guard-for-in":"error",
		"handle-callback-err": "off",
		"indent": ["error", 2],
		"key-spacing":"error",
		"linebreak-style":"error",
		"max-nested-callbacks": ["error", { "max": 4 }],
		"max-statements-per-line": ["error", { "max": 2 }],
		"no-bitwise":"error",
		"no-console": "off",
		"no-else-return":"error",
		"no-empty-function": "error",
		"no-eq-null":"error",
		"no-extra-parens": ["error", "all", { "nestedBinaryExpressions": false }],
		"no-floating-decimal": "error",
		"no-inline-comments": "error",
		"no-lonely-if": "error",
		"no-mixed-operators":"error",
		"no-multi-spaces": "error",
		"no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1, "maxBOF": 0 }],
		"no-nested-ternary":"error",
		"no-new":"error",
		"no-new-func":"error",
		"no-new-wrappers":"error",
		"no-restricted-properties":"error",
		"no-return-await":"error",
		"no-self-assign": "error",
		"no-self-compare":"error",
		"no-shadow": ["error", { "allow": ["err", "resolve", "reject"] }],
		"no-trailing-spaces": ["error"],
		"no-unneeded-ternary":"error",
		"no-unreachable-loop": "error",
		"no-use-before-define":"error",
		"no-var": "error",
		"object-curly-spacing": ["error", "always"],
		"prefer-arrow-callback":"error",
		"prefer-const": "error",
		"prefer-regex-literals": "error",
		"prefer-rest-params":"error",
		"prefer-spread":"error",
		"quotes": ["error", "single"],
		"require-await":"error",
		"semi": ["error", "always"],
		"space-before-blocks": "error",
		"space-before-function-paren": ["error", {
			"anonymous": "never",
			"named": "never",
			"asyncArrow": "always"
		}],
		"space-in-parens": "error",
		"space-infix-ops": "error",
		"space-unary-ops": "error",
		"spaced-comment": "error",
		"strict":"error",
		"wrap-regex":"error",
		"yoda": "error"
	}
}
