{
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "printWidth": 80,
    "plugins": [
      "@ianvs/prettier-plugin-sort-imports"
    ],
    "importOrder": [
      "^@sapphire/framework$",
      "^@sapphire/(.*)$",
      "^discord.js$",
      "^@discordjs/(.*)$",
      "",
      "^play-dl$",
      "^ytmusic-api$",
      "^@distube/ytdl-core$",
      "",
      "<BUILTIN_MODULES>",
      "",
      "<THIRD_PARTY_MODULES>",
      "",
      "^[.]"
    ],
    "importOrderParserPlugins": [
      "typescript"
    ],
    "importOrderTypeScriptVersion": "5.0.0",
    "importOrderCaseSensitive": false
}
